@import '../../../styles/settings.scss';

 .root {
   .advert {
     @include flex(space-between,center);
     height: 4rem;
     background: linear-gradient(to right bottom, rgba(255,255,255,0.8), rgba(255,255,2555,0.3));
     margin-bottom: 2rem;
     overflow: hidden;
     position: relative;
     p {
       text-align: right;
       width: 100%;
       font-size: 1.5rem;
       color: $main-font;
       position: absolute;
       right: 100%;
       line-height: 100%;
       animation: moving 20s linear infinite;
     }
     @keyframes moving {
       from {
         transform: translateX(0);
       }
       to {
         transform: translateX(152%);
       }
     }
   }
  .panel {
    @include flex(space-between, center);
    margin: 0 5rem;
    .logo {
      @include flex(center,center);
      img {
        width: 7rem;
      }
      a {
        margin-left: 1.4rem;
        font-size: 2.5rem;
        color: $main-font;
        text-decoration: none;
        span {
          color: $milk-font;
          font-size: 2.6rem;
        }
      }
    }
    .menu {
      @include flex(center,center);
      font-size: 1.5rem;
      position: relative;
      .menuLink {
        margin: 0 1rem;
        .menuText {
          display: none;
          position: absolute;
        }
        svg {
          font-size: 3rem;
        }
        &:hover {
          .menuText {
            display: block;
          }
        }
      }
      a {
        text-decoration: none;
        color: $main-font;
      }
      p {
        padding: .4rem;
        cursor: pointer;
        margin-right: 1.4rem;
        border: 3px solid $milk-font;
        border-radius: 7px;
        transition: $main-transition;

        &:hover {
          color: $milk-font;
          border-bottom: 7px solid $milk-font;
        }
      }
    }
  }
 }

//@keyframes sizeDown {
//  0% {transform: scale(1)}
//  10% {transform: scale(0.9)}
//  20% {transform: scale(0.8)}
//  30% {transform: scale(0.7)}
//  40% {transform: scale(0.6)}
//  50% {transform: scale(0.5)}
//  60% {transform: scale(0.4)}
//  70% {transform: scale(0.3)}
//  80% {transform: scale(0.2)}
//  90% {transform: scale(0.1)}
//  100% {transform: scale(0); display: none}
//}
//
//@keyframes sizeUp {
//  0% {transform: scale(0); display: block}
//  10% {transform: scale(0.1)}
//  20% {transform: scale(0.2)}
//  30% {transform: scale(0.3)}
//  40% {transform: scale(0.4)}
//  50% {transform: scale(0.5)}
//  60% {transform: scale(0.6)}
//  70% {transform: scale(0.7)}
//  80% {transform: scale(0.8)}
//  90% {transform: scale(0.9)}
//  100% {transform: scale(1); display: block}
//}
