@import "../../../styles/settings";

.root {
  box-shadow: 10px 10px 7px rgba(0,0,0,0.5);
  border-top: 2px solid rgba(255,255,255,0.5);
  border-left: 2px solid rgba(255,255,255,0.5);
  backdrop-filter: blur(2rem);
  cursor: pointer;
  text-decoration: none;
  color: $main-font;
  @include flex(center,center);
  margin: 0 1rem 1rem 0;
  .postContainer {
    @include flex(center, center);
    flex-wrap: wrap;
    width: 17rem;
    height: 27rem;
    .image {
      margin-top: 1rem;
      width: 90%;
      img {
        width: 100%;
        height: 10rem;
      }
    }
    .title {
      width: 90%;
      margin: 1.5rem 0;
      font-size: 1.5rem;
    }
    .data {
      width: 90%;
      color: #b0afaf;
      font-size: 0.9rem;
      margin-bottom: .7rem;
    }
    .price {
      width: 90%;
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
  }
}
