@import "../../../styles/settings";

.root {
  @include flex(center, center);
  margin: 4rem auto;
  width: 65rem;
  font-family: 'Luckiest Guy', cursive;
  position: relative;
  .container {
    @include flex(space-between, center);
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    background: $milk-font;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 2555, 0.3));
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
    position: relative;
    h1 {
      width: 100%;
      margin: 3rem;
      font-size: 3rem;
    }
    .userContainer {
      @include flex(center, center);
      width: 100%;
      margin-bottom: 3rem;
      .userContainerInner {
        @include flex(center,center);
      }
      img {
        height: 15rem;
        margin-right: 3rem;
      }
      .data {
        width: 30rem;
        h3 {
          font-size: 2rem;
          margin-bottom: 2rem;
          width: 100%;
        }
        div {
          @include flex(space-between, center);
          width: 100%;
          font-size: 1.2rem;
          span {
            font-weight: 800;
          }
        }
      }
    }
    .edit {
      text-align: right;
      margin: 2rem;
      font-size: 1.5rem;
      @include flex(center,center);
      position: absolute;
      top: 0;
      right: 0;
      a {
        text-decoration: none;
        color: $main-font;
        &:hover {
          font-weight: 600;
        }
      }
      svg {
        margin-right: .5rem;
        font-size: 1.8rem;
      }
    }
  }
}
