@import "../../../styles/settings";

.root {
  @include flex(center, center);
  margin: 4rem auto;
  width: 65rem;
  font-family: 'Luckiest Guy', cursive;
  position: relative;
  .container {
    @include flex(space-between, center);
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    background: $milk-font;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 2555, 0.3));
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
    position: relative;
    h1 {
      width: 100%;
      margin: 3rem;
      font-size: 3rem;
    }
    .userContainer {
      @include flex(center, center);
      width: 100%;
      margin-bottom: 3rem;
      .userContainerInner {
        @include flex(center,center);
      }
      img {
        height: 15rem;
        margin-right: 3rem;
      }
      .data {
        width: 30rem;
        h3 {
          font-size: 2rem;
          margin-bottom: 2rem;
          width: 100%;
        }
        .btn {
          width: 100%;
          text-align: center;
          margin: 3rem;
          input {
            border: none;
            padding: .75rem 1.25rem;
            border-radius: 10rem;
            color: $milk-font;
            font-size: 1.3rem;
            font-weight: 800;
            transition: $main-transition;
            cursor: pointer;
            width: 20rem;
            height: 3rem;
            background: $main-font;
            margin: 0;
            &:hover {
              color: $main-font;
              background: $milk-font;
            }
          }
        }
        input {
          width: 15.5rem;
          box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
          border-top: 2px solid rgba(255,255,255,0.5);
          border-left: 2px solid rgba(255,255,255,0.5);
          backdrop-filter: blur(2rem);
        }
        input {
          height: 2rem;
          margin-bottom: 1rem;
        }
        div {
          @include flex(space-between, center);
          width: 100%;
          font-size: 1.2rem;
          margin-bottom: 1rem;
          span {
            font-weight: 800;
          }
        }
        .formInner {
          position: relative;
          svg {
            position: absolute;
            top: 0;
            right: -10%;
            color: red;
            font-size: 1.9rem;
          }
        }
      }
    }
    .edit {
      text-align: right;
      margin: 2rem;
      font-size: 1.5rem;
      @include flex(center,center);
      position: absolute;
      top: 0;
      right: 0;
      a {
        text-decoration: none;
        color: $main-font;
        &:hover {
          font-weight: 600;
        }
      }
      svg {
        margin-right: .5rem;
        font-size: 1.8rem;
      }
    }
  }
}
